@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
* {
    margin: 0;
    padding: 0;
}
:root{
    --color-primary: #4687cc;
    --color-secondary: #dfb26f;
    --color-tertiary: #d52121;
    --color-chocolate: #4d311b;
    --color-chocolate-icing: #241306;
    --color-strawberry: #ca8186;
    --color-strawberry-icing: #ffd2dc;
    --color-pistachio: #9dd8bb;
    --color-pistachio-icing: #cce8e3;
    --color-red-velvet: #681d1d;
    --color-red-velvet-icing: #dcc6c0;
    --color-text-base: #d0f4ff;
    --font-primary: "Ubuntu", sans-serif;
}
body {
    background: var(--color-primary);
    font-family: var(--font-primary);
    font-size: 100%;
}

#reveal{
    height: 50px;
    width: 150px;
    color: var(--color-chocolate-icing);
    font-size: large;
    border-radius: 10px;
    border-color: white;
}
.container {
    position: absolute;
    width: 300px;
    height: 400px;
    top: calc(50% - 200px);
    left: calc(50% - 150px);
}
.cake {
    position: absolute;
    width: 150px;
    bottom: 50px;
    left: calc(50% - 75px);
}
.cake-layer {
    position: relative;
    width: 150px;
    height: 25px;
}
.middle-layer {
    height: 15px;
}
.cake-icing {
    position: relative;
    width: 150px;
    height: 12px;
    border-radius: 10px 10px 0 0;
}
.drip-container {
    position: relative;
    transform: translate3d(0, 0, 0);
    top: 0;
    left: 0;
    z-index: 2;
}
.cake-icing-drip {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 10px;
    height: 20px;
    border-radius: 10px;
    z-index: 1; 
}
.drip-2 {
    top: 0px;
    left: 25px;
    width: 10px;
    height: 35px;
}
.drip-3 {
    left: 40px;
    height: 15px;
}
.top .cake-layer,
.top .cake-icing {
    width: 116px;
    margin-left: 17px;
    height: 15px;
}
#rando-button {
    position: absolute;
    left: calc(50% - 81px);
    bottom: 0px;
    display: inline-block;
    width: 120px;
    text-align: center;
    background: transparent;
    padding: 10px 20px;
    border: 2px solid var(--color-text-base);
    color: var(--color-text-base);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8rem;
    border-radius: 2px;
}
#rando-button:hover {
    cursor: pointer;
}
.sparkler {
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 55px;
    border-radius: 50px;
    top: 15px;
    z-index: 4;
}
.sparkler div {
    position: absolute;
    display: block;
    width: 1px;
    height: 40px;
    top: 0;
    left: 17px;
    background: transparent;
    z-index: 3;
    transform: rotate(0);
}
.sparkler div:nth-of-type(2) {
    transform: rotate(45deg);
    left: 20px;
}
.sparkler div:nth-of-type(3) {
    transform: rotate(90deg);
}
.sparkler div:nth-of-type(4) {
    transform: rotate(135deg);
}
.sparkler div span {
    position: relative;
    display: block;
    width: 2px;
    height: 2px;
    margin: 4px;
    background: white;
    border-radius: 2px;
    animation-name: sparkle-effect;
    transform-origin: center center;
    animation-iteration-count: infinite;
    animation-duration: .1s;
}
.sparkler div span:nth-last-of-type(2) {
    animation-duration: .2s;
}
.sparkler div span:nth-last-of-type(3) {
    animation-duration: .3s;
}
.sparkler div span:nth-last-of-type(3) {
    animation-duration: .4s;
}
.sparkler div span:nth-last-of-type(4) {
    animation-duration: .5s;
}
.sparkler-stem {
    position: relative;
    width: 2px;
    height: 30px;
    margin-left: 73px;
    background: #333;
}
.bounce-cake .cake-layer {
    animation-name: open-layers;
    transform-origin: center bottom;
    animation-duration: 0.7s;
    animation-fill-mode: both;
}
.bounce-cake .drip-container,
.bounce-cake .sparkler,
.bounce-cake .sparkler-stem {
    animation-name: gravity-icing;
    transform-origin: center bottom;
    animation-duration: 1.7s;
    animation-fill-mode: both;
}
.bounce-cake {
    animation-name: bounce-cake;
    transform-origin: center bottom;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}
@keyframes rotate-sparkler {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
@keyframes sparkle-effect {
    from, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: scale(1);
        opacity: 0;
    }

    40%, 43% {
        transform: scale(1.2);
        opacity: 1;
    }

    70% {
        transform: scale(1.1);
        opacity: 0;
    }
}  
@keyframes gravity-icing {
    from, 20%, 53%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0,0,0);
    }

    40%, 43% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -40px, 0);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -5px, 0);
    }
} 
@keyframes open-layers {
    from, 50%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        margin-top: 0;
        transform: none;
    }
    60% {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        margin-top: 20px;
        transform: skewX(-1.5deg) skewY(-1.5deg);
    }
} 
@keyframes bounce-cake {
    from, 20%, 53%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0,0,0);
    }

    40%, 43% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -120px, 0);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -5px, 0);
    }
}
.default-cake .cake-layer {
background: var(--color-secondary);
}
.default-cake .cake-icing,
.default-cake .cake-icing-drip {
background: var(--color-chocolate);
}

.default-cake .middle-layer,
.chocolate-cake .middle-layer,
.strawberry-cake .middle-layer,
.pistachio-cake .middle-layer,
.red-velvet-cake .middle-layer {
background: white;
}

body {
  background-color: #1e1934;
}
h1 {
  position: fixed;
  margin: 0 auto;
  bottom: 5%;
  left: 0;
  right: 0;
  width: 12em;
  text-align: center;
  font-size: 2em;
  font-weight: 100;
  font-family: 'Ubuntu';
  letter-spacing: 0.1em;
  color: white;
  text-shadow: 0 0 20px black;
  opacity: 0.8;
}
#glow {
  position: absolute;
  left: calc(50% - .1em);
  bottom: calc(35% + 9em);
  width: 0.2em;
  height: 0.2em;
  border-radius: 100%;
  opacity: 0.15;
}
#candle {
  position: absolute;
  left: calc(50% - .75em);
  bottom: 35%;
  width: 1.5em;
  height: 10em;
  overflow: hidden;
}
#candle::before {
  position: absolute;
  bottom: 0;
  left: 8%;
  content: '';
  width: 84%;
  height: 80%;
  background: linear-gradient(whitesmoke 0, #1e1934 125%);
  border-radius: 0.25em;
  box-sizing: border-box;
  border: 1px solid #333;
}
#top {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2em;
  background-color: transparent;
}
#top #knot {
  position: absolute;
  bottom: 0;
  left: calc(50% - .05em);
  height: 0.5em;
  width: 0.1em;
  background-color: #0f3146;
}
#top .smoke {
  position: absolute;
  opacity: 0;
  border-radius: 100%;
}
#top .smoke:nth-child(1) {
  bottom: 0.1em;
  left: calc(50% - .5em);
  height: 0.5em;
  width: 0.5em;
  background-color: silver;
}
#top .smoke:nth-child(2) {
  bottom: 0.6em;
  left: 50%;
  height: 0.6em;
  width: 0.6em;
  background-color: lightgray;
  animation-delay: 0.2s;
}
#top .smoke:nth-child(3) {
  bottom: 1.1em;
  left: 20%;
  height: 0.3em;
  width: 0.3em;
  background-color: whitesmoke;
  animation-delay: 0.3s;
}
#top #flame {
  position: absolute;
  bottom: 0.15em;
  width: 1.5em;
  height: 1.6em;
  background-color: #ffee86;
  border-radius: 100%;
  box-shadow: inset 0 0 0 0.1em #ffee86;
  transform: rotateY(30deg);
  cursor: pointer;
}
#top #flame::after {
  position: absolute;
  content: '';
  width: 0.7em;
  height: 0.9em;
  bottom: 10%;
  left: calc(50% - .35em);
  background-color: #ff3200;
  border-radius: 100%;
  animation: burnInner 1.5s ease-in-out infinite;
}
#top #flame:hover {
  transition: all 0.1s ease-in-out;
  background-color: yellow;
}
#top #flame:hover::after {
  background-color: red;
}
@keyframes glow {
  0% {
    box-shadow: 0 0 1.5em 2.2em rgba(255, 246, 162, .75);
 }
  50% {
    box-shadow: 0 0 1.5em 2em rgba(255, 246, 162, .6);
 }
  100% {
    box-shadow: 0 0 1.5em 2.2em rgba(255, 246, 162, .75);
 }
}
@keyframes burn {
  0% {
    height: 1.7em;
    transform: rotateY(30deg);
 }
  50% {
    height: 1.3em;
    transform: rotateY(0deg);
    opacity: 0.9;
 }
  100% {
    height: 1.7m;
    transform: rotateY(30deg);
 }
}
@keyframes burnInner {
  0% {
    height: 0.9em;
    transform: rotateX(0deg);
 }
  50% {
    height: 0.8em;
    transform: rotateX(30deg);
 }
  100% {
    height: 0.9em;
    transform: rotateX(0deg);
 }
}
@keyframes puff {
  100% {
    transform: rotateY(-30deg);
    opacity: 0;
 }
}
@keyframes puff-bubble {
  0% {
    opacity: 0;
    transform: scale(1, 1);
 }
  50% {
    opacity: 1;
    transform: scale(1.2, 1.2);
 }
  100% {
    opacity: 0;
    transform: scale(0.8, 0.8);
 }
}
.glow {
  animation: glow 3s ease-in-out infinite;
}
.burn {
  animation: burn 1.5s ease-in-out infinite;
}
.puff {
  animation: puff 0.3s ease-in-out forwards;
}
.puff-bubble {
  animation: puff-bubble 0.75s ease-in-out forwards;
}
.stripe {
  position: absolute;
  left: -0.25em;
  width: 2em;
  height: 0.25em;
  background-color: #ff4b6f;
  transform: rotate(25deg);
  border-radius: 100%;
  box-shadow: 1px 1px 0 1px rgba(0, 0, 0, .25);
}
.stripe:nth-child(1) {
  top: 2.7em;
  opacity: 1.4;
}
.stripe:nth-child(2) {
  top: 4.2em;
  opacity: 0.9;
}
.stripe:nth-child(3) {
  top: 5.7em;
  opacity: 0.7333333333;
}
.stripe:nth-child(4) {
  top: 7.2em;
  opacity: 0.65;
}
.stripe:nth-child(5) {
  top: 8.7em;
  opacity: 0.6;
}
.wish{
  position: absolute;
  top: calc(50% + 200px);
  color: white;
  text-shadow: 0 0 20px black;
  opacity: 0.8;
  font-family: Ubuntu;
  text-align: center;
}

.container-countdown{
  color: white;
  text-shadow: 0 0 20px black;
  opacity: 0.8;
  font-family: Ubuntu;
  text-align: center;
}

.container-wish{
  color: white;
  text-shadow: 0 0 20px black;
  opacity: 0.8;
  font-family: Ubuntu;
  text-align: center;
}

.container-wishes{
  position: absolute;
  top: calc(30%);
  color: white;
  text-shadow: 0 0 20px black;
  opacity: 0.8;
  font-family: Ubuntu;
  text-align: center;
  padding: 7em 0; 
  left: calc(50%);
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}


.color1{color:#1BBC9B}/*MOUNTAIN MEADOW*/
.color2{color:#C0392B/*TALL POPPY*/}


.card {
    color: #013243; /*SHERPA BLUE*/

    width: 300px;
    height: 400px;
    background: #e0e1dc;
    transform-style: preserve-3d;
    transform: translate(-50%,-50%) perspective(2000px);
    box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 20px 0 60px rgba(0,0,0,.5);
    transition: 1s;
}



.card:hover {
    transform: translate(-50%,-50%) perspective(2000px) rotate(15deg) scale(1.2);
    box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);
}

.card:before {
    content:'';
    position: relative;
    top: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background: #BAC1BA;
    transform-origin: bottom;
    transform: skewX(-45deg);
}

.card:after {
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    width: 5px;
    height: 100%;
    background: #92A29C;
    transform-origin: left;
    transform: skewY(-45deg);
}

.card .imgBox {
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    transition: .7s;
}

.card .bark {
    position: absolute;
    background: #e0e1dc;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .7s;
}

.card .imgBox img {
    min-width: 250px;
    max-height: 400px;
}

.card:hover .imgBox {
    transform: rotateY(-135deg);
}

.card:hover .bark {
    opacity: 1;
    transition: .6s;
  box-shadow: 300px 200px 100px rgba(0, 0, 0, .4) inset;
}

.card .details {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 0 0 0 10px;
    z-index: -1;
    margin-top: 70px;
}

.card .details p {
    font-size: 15px;
    line-height: 5px;
    transform: rotate(-10deg);
    padding: 0 0 0 20px;
}

.card .details h4 {
    text-align: center;
}

.text-right {
    text-align: right;
}


.slideDiv,
.controls {
  position: absolute;
}

.slideDiv,
.slide {
  width: 100%;
  height: 100%;
}


.controls {
  top: calc(100% + 150px);
  right: calc(10% - 250px);
  padding: 0 0.63rem;
  z-index: 5;
  text-align: center;
  width: 500px;
}

.button { 
  width: 0.9375rem;
  height: 0.9375rem;
  display: block;
  cursor: pointer;
  border-radius: 50%;
  transition: all ease .2s;
  margin-right: 10px;
}

.button:not(:last-child) {
  margin-bottom: 0.63rem;
}


.button {
  border: 1px solid #fff;
  opacity: .6;
  outline: none;
  background-color: #333;
  display: table-cell;
  padding: 1px;

}

.button:hover,
.button:focus {
  opacity: 1;
}

.selected {
  background-color: #CB411F;
}




